*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}

/*-- Header --*/

header{
	min-height: 20vh;
}

/*-- Menu --*/

.header__menu{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: white;
}
.header__mainMenu{
	width: 90vw;
	height: 14vh;
	display: flex;
	justify-content: space-between;
}
.header__logoImg{
	width: 5vw;
}
.header__navBar{
	width: 74%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__navBar a{
	font-weight: bold;
	font-size: 24px;
	color: #E67816;
}

/*-- Secondary menu --*/

.header__secondMenu{
	width: 100%;
	height: 8vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #FFF974;
	border-top: solid 2px #7AC49F;
	border-bottom: solid 2px #7AC49F;
	padding: 0 50px 0 0;
}
.header__secondBar{
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__secondBar a{
	font-size: 16px;
	color: #E67816;
}
.linkcontact{
	display: none;
}
/*-- Header Mobile Responsive --*/

.menuhamburguer{
	width: 60px;
	height: 60px;
	position: relative;
	display: none;
}
.menuhamburguer label{
	width: 100%;
	height: 100%;
	position: absolute;
}
#check{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	display: none;
}
.hamburguer{
	width: 60px;
	height: 6px;
	position: absolute;
	top: 45%;
	background-color: #E3771A;
	border-radius: 20%;
}
.hamburguer:before{
	content: '';
	width: 60px;
	height: 6px;
	position: absolute;
	top: 15px;
	background-color: #E3771A;
	border-radius: 20%;
}
.hamburguer:after{
	content: '';
	width: 60px;
	height: 6px;
	position: absolute;
	bottom: 15px;
	background-color: #E3771A;
	border-radius: 20%;
}
#check:checked+.header__secondMenu{
	display: block;
}
@media(max-width: 1024px){
	.header__navBar a{
		font-size: 20px;
	}
	.header__secondBar a{
		width: 13%;
		font-size: 15px;
	}
}
@media(max-width: 425px){
	.header__menu{
		display: block;
	}
	.menuhamburguer{
		display: block;
		margin: 10px 0 0 15px;
	}
	.header__mainMenu{
		display: none;
	}
	.header__secondMenu{
		width: 100vw;
		height: 300px;
		justify-content: flex-end;
		background-color: white;
		border: solid 1px #95989A;
		padding: 20px 0 0 30px;
		position: absolute;
		top: 0;
		z-index: -1;
		display: none;
	}
	.header__secondBar{
		width: 80%;
		height: 100%;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.header__secondBar a{
		width: 45%;
		font-size: 17px;
	}
	.linkcontact{
		display: block;
	}
}

/*-- main --*/
main{
	width: 100%;
}
.main__meeting{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 70px 0 120px 0;
}
.main__meetingText{
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main__meetingTitle{
	width: 70%;
	font-size: 44px;
	color: #00923F;
	margin: 10px 0 10px 0;
	padding: 0 0 0 4vw;
	align-self: flex-start;
}
.main__meeting--text{
	width: 83%;
	font-size: 16px;
	margin: 10px 0 10px 0;
}
.main__meetingImg{
	width: 45vw;
	height: 45vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 0 50px 0 0;
}
.main__meetingImg img{
	width: 100%;
	height: 100%;
}
.main__meetingImg a{
	font-size: 36px;
	color: #E67816;
}
.main__coffee{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #333333;
	padding: 0 0 70px 0;
}
.main__coffeeImg{
	width: 45vw;
	height: 45vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 100px 0 50px 50px;
}
.main__coffeeImg img{
	width: 100%;
	height: 100%;
}
.main__coffeeImg a{
	font-size: 36px;
	color: #E67816;
}
.main__coffeeText{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.main__coffeeTitle{
	width: 68%;
	font-size: 44px;
	color: #85C226;
	margin-top: -50px;
	padding: 0 0 10px 0;
}
.main__coffee--text{
	width: 68%;
	font-size: 16px;
	color: #FFFFFF;
}
.main__lecture{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 70px 0 120px 0;
	background-color: #FFF974;
}
.main__lectureText{
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.main__lectureTitle{
	width: 55%;
	font-size: 44px;
	color: #00923F;
	padding: 0 0 0 4vw;
	align-self: flex-start;
}
.main__lecture--text{
	width: 80%;
	font-size: 16px;
	margin: 10px 0 10px 0;
}
.main__lectureImg{
	width: 45vw;
	height: 45vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 0 50px 0 0;
}
.main__lectureImg img{
	width: 100%;
	height: 100%;
}
.main__lectureImg a{
	color: #E67816;
	font-size: 36px;
}
.main__cleaning{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 70px 0;
}
.main__cleaningImg{
	width: 45vw;
	height: 45vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 100px 0 50px 50px;
}
.main__cleaningImg img{
	width: 100%;
	height: 100%;
}
.main__cleaningImg a{
	font-size: 36px;
	color: #E67816;
}
.main__cleaningText{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0 0 0;
}
.main__cleaningTitle{
	width: 50%;
	font-size: 48px;
	color: #00923F;
	margin: 0 135px 0 0;
}
.main__cleaning--text{
	width: 68%;
	font-size: 16px;
	padding: 15px 0 10px 0;
}
.main__aedes{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 100px 0 120px 0;
	background-color: #7AC49F;
}
.main__aedesText{
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.main__aedesTitle{
	width: 30vw;
	font-size: 44px;
	color: #00923F;
	padding: 0 0 0 3vw;
	align-self: flex-start;
}
.main__aedes--text{
	width: 85%;
	font-size: 16px;
	margin: 10px 0 10px 0;
}
.main__aedesImg{
	width: 45vw;
	height: 45vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 0 50px 0 0;
}
.main__aedesImg img{
	width: 100%;
	height: 100%;
}
.main__aedesImg a{
	color: #E67816;
	font-size: 36px;
}
.main__collect{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #85C226;
	padding: 0 0 70px 0;
}
.main__collectImg{
	width: 45vw;
	height: 45vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 100px 0 50px 50px;
}
.main__collectImg img{
	width: 100%;
	height: 100%;
}
.main__collectImg a{
	font-size: 36px;
	color: #E67816;
}
.main__collectText{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.main__collectTitle{
	width: 68%;
	font-size: 44px;
	color: #FFFFFF;
	margin-top: -100px;
	padding: 0 0 30px 0;
}
.main__collect--text{
	width: 68%;
	font-size: 16px;
	color: #FFFFFF;
}
@media(max-width: 1024px){
	.main__aedesTitle{
		width: 36vw;
	}
}
/*-- footer --*/
footer{
	width: 100%;
	background-color: #333333;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__box{
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.footer__box h3{
	width: 100%;
	font-size: 28px;
	color: #85C226;
	margin: 5px 0 20px 0;
}
.footer__contact{
	width: 25vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px 0 50px 0;
}
.contact__address{
	width: 100%;
	font-size: 14px;
	color: #85C226;
	margin: 10px 0 0 0;
}
.contact__phone{
	width: 85%;
	color: #85C226;
	margin: 15px 0 5px 0;
	font-size: 18px;
}
.contact__fb{
	width: 85%;
	color: #E67816;
	margin: 15px 0 5px 0;
	font-size: 18px;
}
.footer__contact img{
	width: 30px;
	margin: 15px 0 5px 0;
	height: 30px;
}
.footer__projects{
	width: 29vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.footer__projects p{
	width: 100%;
	color: #85C226;
	font-size: 14px;
	margin: 5px 0 5px 0;
}
.footer__partners{
	width: 34vw;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}
.footer__partner h3{
	width: 100%;
}
.footer__partners p{
	width: 45%;
	margin: 5px 0 5px 0;
}
.footer__partners a{
	color: #E67816;
	font-size: 16px;
}