*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}
/*-- Menu --*/
.header__menu{
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*position: fixed;*/
}
.header__mainMenu{
	width: 90vw;
	height: 14vh;
	display: flex;
	justify-content: space-between;
}
.header__logoImg{
	width: 5vw;
}
.header__navBar{
	max-width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__navBar__link{
	font-weight: bold;
	font-size: 20px;
	color: #E67816;
	margin-left: 40px;
}
/*-- Secondary menu --*/
.header__secondMenu{
	width: 100%;
	height: 8vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #FFF974;
	border-top: solid 2px #7AC49F;
	border-bottom: solid 2px #7AC49F;
	padding: 0 50px 0 0;
}
.header__secondBar{
	width: 100vw;
	display: flex;
	justify-content: flex-end;
}
.header__secondBar__link{
	font-size: 16px;
	color: #E67816;
	margin: 15px;
}
/*-- Main --*/
/*-- O que é --*/
.containerMain__divDesc{
	max-width: 100vw;
	min-height: 79vh;
	background-image: url("assets/fundohome.jpg");
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
}
.containerMain__divDesc__divText{
	max-width: 20vw;
	color: #FFF;
}
.containerMain__divDesc__divText__title{
	max-width: 100%;
	font-size: 60px;
	margin-bottom: 40px;
}
.containerMain__divDesc__divText__parag{
	max-width: 100%;
	font-size: 15px;
}
.containerMain__divDesc__divVideo{
	max-width: 100vw;
	display: flex;
	justify-content: flex-end;
}
.containerMain__divDesc__divVideo__video iframe{ 
	max-width:100vw;
}
/*-- Antecedentes --*/
.containerMain__divAntecedentes{
	width: 100%;
	min-height: 75vh;
	background-color: rgba(51, 51, 51, 1);
	display: flex;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
}
.containerMain__divAntecedentes__divText{
	width: 40%
}
.containerMain__divAntecedentes__divText__title{
	color: rgba(133, 194, 38, 1);
	font-size: 55px;
	margin-bottom: 40px;
}
.containerMain__divAntecedentes__divText__parag{
	color: #FFF;
	font-size: 15px;
}
.containerMain__divAntecedentes__slide{
	width: 40%;
	display: flex;
	flex-direction: column;
}
.containerMain__divAntecedentes__slide img{
	width: 80%

}
.containerMain__divAntecedentes__slide__setinhas{
	width: 80%;
	display: flex;
	justify-content: space-between;
}
.containerMain__divAntecedentes__slide__setinhas a{
	font-size: 30px;
	color: rgba(230, 120, 22, 1);
}