*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}

/*-- header --*/

header{
	height: 25vh;
}
.header__menu{
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
}
.header__mainMenu{
	width: 90vw;
	height: 14vh;
	display: flex;
	justify-content: space-between;
}
.header__logoImg{
	width: 5vw;
}
.header__navBar{
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__navBar a{
	font-weight: bold;
	font-size: 24px;
	color: #E67816;
}

/*-- footer --*/

footer{
	width: 100%;
	background-color: #333333;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__box{
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.footer__box h3{
	width: 100%;
	font-size: 28px;
	color: #85C226;
	margin: 5px 0 20px 0;
}
.footer__contact{
	width: 25vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px 0 50px 0;
}
.contact__address{
	width: 100%;
	font-size: 14px;
	color: #85C226;
	margin: 10px 0 0 0;
}
.contact__phone{
	width: 85%;
	color: #85C226;
	margin: 15px 0 5px 0;
	font-size: 18px;
}
.contact__fb{
	width: 85%;
	color: #E67816;
	margin: 15px 0 5px 0;
	font-size: 18px;
}
.footer__contact img{
	width: 30px;
	margin: 15px 0 5px 0;
	height: 30px;
}
.footer__projects{
	width: 29vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.footer__projects p{
	width: 100%;
	color: #85C226;
	font-size: 14px;
	margin: 5px 0 5px 0;
}
.footer__partners{
	width: 34vw;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}
.footer__partner h3{
	width: 100%;
}
.footer__partners p{
	width: 45%;
	margin: 5px 0 5px 0;
}
.footer__partners a{
	color: #E67816;
	font-size: 16px;
}

/* -- Meio Ambiente -- */



/* -- Saúde -- */



/* -- Consumo Consciente -- */